.c-hero {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &__overlay {
    background: rgba($color: #000000, $alpha: 0.2);
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    position: relative;

    &--menu {
      background: rgba($color: #000000, $alpha: 0.4);
    }

    &--contact {
      background: rgba($color: #000000, $alpha: 0.5);
    }
  }

  &__text {
    color: $white;
    width: 100%;
    padding: 0 12% 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    @media (max-width: 1023px) {
      align-items: center;
      text-align: center;
    }
    @media (max-width: 959px) {
      .c-hero__text {
        justify-content: center;
        padding: 0;
      }
    }

    &-top {
      font-size: rem-calc(48);
      margin: 0;
    }

    &-middle {
      max-width: 300px;
      font-size: rem-calc(20);
      margin-top: 20px;
      margin-bottom: 0;
      @include font-body-bold;
      hyphens: none;
    }

    &-btn {
      font-size: 1.125rem;
      margin-top: 35px;
    }
  }
}