.c-button {
  background: $brand;
  color: $white;
  @include font-bold;
  padding: 5px;
  text-align: center;
  border-radius: 10px;

  &:hover {
    color: $black;
  }
}

a .glf-btn-basic {
  background: $brand;
  color: #252525;
  @include font-body-bold;
  padding: 10px 25px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    color: $white;
  }
}

.c-button--gradient {
  display: block;
  width: 300px;
  max-width: 300px;
  margin-top: 10px;
  position: relative;
  padding: 5px 30px;
  border-radius: 10px;
  font-weight: 600;

  border: 1px solid $brand;
  background-image: linear-gradient(-180deg, $brand-darker 0%, $brand 100%);
  &:hover {
    cursor: pointer;
    background-image: linear-gradient(-180deg, $brand 0%, $brand-darker 100%);
    color: $white;
  }
}