.c-header {
  padding: rem-calc(10) 0;
  align-items: center;
  border-bottom: 1px solid $medium-grey;

  &__main {
    background-color: $dark-grey;
  }

  &__blogname {
    color: $brand;
    &:hover {
      color: $brand-lighter;
    }
  }
  &__logo {
    font-size: rem-calc(20);
    img {
      max-width: 200px;
    }
  }

  &__orders {
    &-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    }
    color: $white;
    text-align: center;
    font-size: rem-calc(14);
    @media (max-width: 959px) {
      display: none;
    }

    &-phone {
      &--mobile {
        padding-right: 10px;
      }
    }

    .glf-btn-basic {
      background: transparent;
      padding: 0;
      color: $brand;
      text-transform: capitalize !important;
      &:hover {
        color: $brand-red;
      }
    }

    &--mobile {
      display: none;
      @media (max-width: 600px) {
        width: 100%;
        padding: 15px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $white;
        border-top: 1px solid $medium-grey;
      }
      @media (max-width: 1023px) {
        width: 100%;
        padding: 15px 20px;
        display: flex;
        justify-content: center;
        color: $white;
        border-bottom: 1px solid $medium-grey;
      }

      .glf-btn-basic {
        background: transparent;
        padding: 0;
        color: $brand;
        text-transform: capitalize !important;
        &:hover {
          color: $brand-red;
        }
      }
    }
  }
}
