.c-contact-form {
  margin-bottom: 70px;
  color: $dark-grey;
  background: $white;
  label {
    @include font-body-bold;
  }
  input,
  textarea {
    margin-top: 15px;
    background: $white;
    outline: none;
    color: $dark-grey;
    border-radius: 5px;
    border: 1px solid $dark-grey !important;
    &:focus {
      background-color: $white;
    }
  }

  .c-cf7form__inputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
    @media (max-width: 767px) {
      display: block;
    }
    .c-cf7form__input {
      width: 32%;
      @media (max-width: 767px) {
        width: 100%;
        margin-top: 20px;
      }
    }
  }
  .wpcf7-form-control .wpcf7-text .wpcf7-validates-as-required {
    background: $white !important;
  }
  button,
  input[type="submit"] {
    padding: 10px 45px !important;
    @include font-bold;
    text-transform: uppercase;
    background-color: $brand;
    color: $white;
    border: 1px solid $white !important;
    &:hover {
      color: $dark-grey !important;
      border: 1px solid $brand !important;
      background-color: $white;
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s;
    -webkit-text-fill-color: $dark-grey !important;
  }
}

.wpcf7-response-output {
  color: $dark-grey;
}